name: Develop CI Pipeline

on:
  push:
    branches:
      - develop

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  DOCKER_IMAGE: ruby-app

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Ruby Setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install Dependencies
        run: bundle install

      - name: Rubocop Styling & Linting
        run: |
          gem install rubocop
          bundle exec rubocop

      - name: Dependency Vulnerabilities
        run: echo "Security Vulnerability checking handled by DependaBot!"

      - name: Unit Tests
        run: bundle exec rspec

      - name: Set COMMIT_SHA for Tag
        run: echo "COMMIT_SHA=$(echo ${GITHUB_SHA} | cut -c 1-7)" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t $DOCKER_USERNAME/$DOCKER_IMAGE:develop .
          docker tag $DOCKER_USERNAME/$DOCKER_IMAGE $DOCKER_USERNAME/$DOCKER_IMAGE:develop-${{ env.COMMIT_SHA }}

      - name: Push Docker Image
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker push $DOCKER_USERNAME/$DOCKER_IMAGE:develop
          docker push $DOCKER_USERNAME/$DOCKER_IMAGE:develop-${{ env.COMMIT_SHA }}